'scopeName': 'source.twee3'
'name': 'Twee3'
'fileTypes': ['tw', 'tw2', 'tw3', 'twee', 'twee2', 'twee3']
'patterns': [
  ## CSS Embedded Passages
  {
    "name": "source.embedded.css.twee3"
    "begin": "(^::)(.+)(\\[)(stylesheet)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee3"
      "2": "name": "storage.modifer.twee3"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee3"
      "4": "name": "storage.modifer.twee3"
      "5": "name": "comment.block.punctuation.definition.tag.end.twee3"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.css" }
    ]
  },
  ## JS Embedded Passages
  {
    "name": "source.embedded.js.twee3"
    "begin": "(^::)(.+)(\\[)(script)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee3"
      "2": "name": "meta.link.twee3"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee3"
      "4": "name": "meta.link.twee3"
      "5": "name": "comment.block.punctuation.definition.tag.end.twee3"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.js" }
    ]
  }
  # StoryData Passage
  {
    'name': 'meta.passage.twee3'
    'begin': "(^::)\\s*(StoryData)"
    'beginCaptures':
      '1': 'name': 'keyword.control.twee3'
      '2': 'name': 'support.class.passage.twee3'
    "end": "^(?=::)"
    "contentName": "source.embeded.json.twee"
    "patterns": [
      { "include": "source.json" }
    ]
  },
  ## Passages
  {
    'name': 'meta.passage.twee3'
    'begin': "(^::)\\s*((Start|StoryTitle)|([^\\[]*))\\s*((\\[)([^\\]]*)(\\]))*"
    'beginCaptures':
      '1': 'name': "storage.type.twee3"
      '2': 'name': 'keyword.control.twee3'
      '3': 'name': "support.class.passage.twee3"
      '4': 'name': "entity.name.function.passage.twee3"
      '6': 'name': "comment.block.punctuation.definition.tag.begin.twee3"
      '7': 'name': "entity.name.tag.twee3"
      '8': 'name': "comment.block.punctuation.definition.tag.end.twee3"
    "end": "^(?=::)"
    "patterns": [
      ## HOOKS
      {
        'name': 'variable.twee3'
        'match': '(\\<([a-zA-z0-9]+)\\|)|(\\|([a-zA-z0-9]+)\\>)'

      },
      {
        "include": "text.html.basic"
      },
      ## SugarCube script blocks. Needs to come first to avoid conflict with SC macros.
      {
        'name': 'meta.sugarcube.scripts.twee3'
        'begin': '(<<)(script)(>>)'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee3'
          '2': 'name': 'keyword.control.twee3'
          '3': 'name': 'punctuation.separator.twee3'
        'end': '(<<\\/)(script)(>>)'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee3'
          '2': 'name': 'keyword.control.twee3'
          '3': 'name': 'punctuation.separator.twee3'
        'patterns': [
          { "include": "source.js"}
        ]
      },
      ## Harlowe Macros
      {
        'name': 'meta.harlowe.macros.twee3'
        'begin': '(\\()'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee3'
        'end': '(\\))'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee3'
        'patterns': [
          ## All Harlowe Macros
          {
            "match": "(set|put|move|print|display|if|unless|else-if|else|either|a|array|datamap|dataset|count|datanames|datavalues|range|rotated|shuffled|sorted|subarray|current-date|current-time|monthday|weekday|substring|text|string|history|passage|load-game|save-game|saved-games|link|link-replace|link-reveal|link-repeat|link-goto|click|click-replace|click-append|click-prepend|mouseover|mouseover-replace|mouseover-append|mouseover-prepend|mouseout|mouseout-replace|mouseout-append|mouseout-prepend|go-to|goto-url|open-url|page-url|reload|live|stop|alert|confirm|prompt|append|prepend|replace|align|background|css|font|hook|text-colour|text-rotate|text-style|transition|colour|t8n-time|t8n|abs|cos|exp|log|log10|log2|max|min|pow|sign|sin|sqrt|tan|ceil|floor|num|number|random|round)\:"
            "name": "keyword.control.twee3"
          },
          # Story Variables
          {
            "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
            "name": "variable.twee3"
          },
          # Temporary Variables
          {
            "match": "\\b(_[A-Za-z_][A-Za-z0-9_]*)\\b",
            "name": "variable.twee3"
          },
          # Hook Variables
          {
            'name': 'variable.twee3'
            'match': '\\?\\b([A-Za-z_][A-Za-z0-9_]*)\\b'

          },
          # Single Quotes
          {
            "match": "('[^']*')",
            "name": "string.quoted.single.twee3"
          },
          # Double Quotes
          {
            "match": "(\"[^\"]*\")",
            "name": "string.quoted.double.twee3"
          },
          #constants
          {
            "match": "\\b((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b",
            "name": "constant.numeric.js"
          },
          #true
          {
            "match": "\\btrue\\b",
            "name": "constant.twee3"
          },
          #false
          {
            "match": "\\bfalse\\b",
            "name": "constant.language.boolean.false.js"
          },
          #null
          {
            "match": "\\bnull\\b",
            "name": "constant.language.null.js"
          },
          #NaN/undefined
          {
            "match": "\\b(Infinity|NaN|undefined)\\b",
            "name": "constant.language.js"
          },
          {
            "match": "(\\=)"
            "name": "constant.language.operator.js"
          }
        ]
      },
      ## SugarCube Macros
      {
        'name': 'meta.sugarcube.macros.twee3'
        'begin': '(<<)(\\/?)'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee3'
          '2': 'name': 'punctuation.separator.twee3'
        'end': '(>>)'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee3'
        'patterns': [
            ## All SugarCube Macros
            {
              "match": "\\b(capture|set|unset|remember|forget|run|include|nobr|print|silently|if|for|break|continue|switch|button|checkbox|cycle|option|optionsfrom|link|linkappend|linkprepend|linkreplace|listbox|radiobutton|textarea|textbox|actions|back|choice|return|addclass|append|copy|prepend|remove|removeclass|replace|toggleclass|audio|cacheaudio|createaudiogroup|createplaylist|masteraudio|playlist|removeaudiogroup|removeplaylist|waitforaudio|goto|repeat|stop|timed|widget)\\b"
              "name": "keyword.control.twee3"
            },
            # Story Variables
            {
              "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
              "name": "variable.twee3"
            },
            # Temporary Variables
            {
              "match": "_([A-Za-z_][A-Za-z0-9_]*)\\b",
              "name": "variable.twee3"
            },
            # Single Quotes
            {
              "match": "('[^']*')",
              "name": "string.quoted.single.twee3"
            },
            # Double Quotes
            {
              "match": "(\"[^\"]*\")",
              "name": "string.quoted.double.twee3"
            },
            #constants
            {
              "match": "\\b((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b",
              "name": "constant.numeric.js"
            },
            #true
            {
              "match": "\\btrue\\b",
              "name": "constant.twee3"
            },
            #false
            {
              "match": "\\bfalse\\b",
              "name": "constant.language.boolean.false.js"
            },
            #null
            {
              "match": "\\bnull\\b",
              "name": "constant.language.null.js"
            },
            #NaN/undefined
            {
              "match": "\\b(Infinity|NaN|undefined)\\b",
              "name": "constant.language.js"
            },
            # Operators
            {
              'match': '(%=|\\+=|-=|\\*=|(?<!\\()/=|\\sto\\s)'
              'name': 'keyword.operator.twee3'
            },
            ## Control keywords (for themes that style these)
            {
              'match': '(!==|!=|<=|>=|===|==|<|>|\\beq\\b|\\bis\\b|\\bneq\\b|\\bisnot\\b|\\bgte?\\b|\\blte?\\b|\\bnot\\b|\\bdef\\b|\\bndef\\b)'
              'name': 'keyword.operator.twee3'
            },
            {
              'match': '(&&|!!|!|\\|\\||\\band\\b|\\bor\\b)'
              'name': 'keyword.operator.twee3'
            },
            {
              'match': '[A-Za-z]+'
              'name': 'keyword.control.twee3'
            },
            ## Passage Links
            {
              'name': 'meta.markup.underline.link.twee3'
              "begin": "(\\[\\[)"
              "beginCaptures":
                "1": "name": "comment.block.punctuation.definition.link.begin.twee3"
              "end": "(\\]\\])"
              "endCaptures":
                "1": "name": "comment.block.punctuation.definition.link.end.twee3"
              "contentName": "entity.name.function.link.twee3"
              "patterns": [
                "match": "(\\b\\|\\b)([^\\]]*)"
                "captures":
                  "1": "name": "comment.block.punctuation.definition.link.divider.twee3"
                  "2": "name": "entity.other.attribute-name.link.twee3"
              ]
            }
        ]
      },
      ## Story Variables
      {
        "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
        "name": "variable.twee3"
      },
      ## Temporary Variables
      {
        "match": "\\b(_[A-Za-z_][A-Za-z0-9_]*)\\b",
        "name": "variable.twee3"
      },
      ## Passage Links
      {
        'name': 'meta.markup.underline.link.twee3'
        "begin": "(\\[\\[)"
        "beginCaptures":
          "1": "name": "comment.block.punctuation.definition.link.begin.twee3"
        "end": "(\\]\\])"
        "endCaptures":
          "1": "name": "comment.block.punctuation.definition.link.end.twee3"
        "contentName": "entity.name.function.link.twee3"
        "patterns": [
          "match": "(\\b\\|\\b)([^\\]]*)"
          "captures":
            "1": "name": "comment.block.punctuation.definition.link.divider.twee3"
            "2": "name": "entity.other.attribute-name.link.twee3"
        ]
      }
    ]
  }
]
