.options-view-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.options-view-container h2 {
  margin: 0.2em 0 0 0;
  width: 300px;
}

.options-view-container .ui.button,
.options-view-container .ui.fluid.dropdown {
  margin-bottom: 5px;
  margin-right: 0;
}

.options-sequences-container .textarea-container {
  width: 100%;
  border-radius: 4px;
  border: 1px #dededf solid;
  padding: 10px;
}

.options-sequences-container textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.generator-loader-container {
  width: 50vw;
  right: 0;
  position: absolute;
  top: 40px;
  bottom: 20px;
  background-color: rgba(0,0,0,.85);
}

.two-columns-view {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
}

.divided-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.number-input .ui.small.input {
  width: 169px;
}

.number-input {
  margin-bottom: 5px;
}

.ui.grid {
  margin-bottom: 0;
}

.ui.grid>.row>[class*="six wide"].column.field-label {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.ui.grid>.row {
  padding: 0;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~.box:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: #0aa855!important;
}

.codemirror-source {
  z-index: 1;
  position: relative;
  text-align: left;
  width: 100%;
}

.codemirror-source > div {
  height: auto;
}

.inform-export-options .ui.toggle.checkbox {
  width: 400px;
  text-align: left;
}